.keyboard {
    position: relative;
    width: 100%;
    padding: 5px 0 20px;
    user-select: none;
    transition: bottom 0.4s, opacity 0.3s ease;
    border-radius: 10px;
}

.keyboard__keys {
    text-align: center;
}

.keyboard__key {

    height: 45px;
    width: 6%;
    max-width: 90px;
    margin: 5px;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    background: transparent;
    color: #fff;
    font-size: 1.1rem;
    box-shadow: 0 4px 8px rgb(0, 255, 255), inset 0 0 10px rgba(0, 255, 255, 0.671);
    transition: transform 0.1s, box-shadow 0.2s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
  
}

.keyboard__key:hover {
    box-shadow: 0 0 12px #00ffe7, 0 0 6px #00ffe7;
}

.keyboard__key--active {
    background-color: #00ff88 !important;
    color: white;
    box-shadow: 0 0 15px #00ff88, inset 0 0 10px #00ff88;
    transform: translateY(2px);
}

.keyboard__key--wide {
    width: 12%;
}

.keyboard__key--extra-wide {
    width: 36%;
    max-width: 500px;
}

.keyboard__key--activatable::after {
    content: '';
    top: 10px;
    right: 10px;
    position: absolute;
    width: 8px;
    height: 8px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
}

.keyboard__key--active::after {
    background: #08ff00;
}

.keyboard__key--dark {
    background: rgba(0, 0, 0, 0.35);
}
